header{
    display: flex;
    justify-content: flex-start;
}


.imagen{
    height: 30px;
    width: 50px;
}

.nav-inicio{
    background-color: #000;
    border-radius: 36px;
    height: 48px;
    min-width: 70px;
    color: rgb(251, 248, 248);
    border: none;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.margin-navbar{
    margin-top: 150px;

}

section{
    display: flex;
    justify-content: space-around;
}

.input-buscar{
    height: 50px;
    width: 850px;
    border-radius: 36px;
    font-size: 16px;
    border: none;
    background-color: #efefef;
}

.input-buscar:hover{
    background-color: #ddd;
}

.nav-hoy{
    height: 50px;
    border-radius: 30px;
    font-weight: 900;
}

.nav-hoy:hover{
    background-color: #ddd;
}

.campanita{
    position: absolute;
    right: 1;
    top: 1;
    background-color: red;
    padding: 5px;
    color: white;
}
.alto{
    padding: 20px;
}

section div.imagen{
    max-height: 600px;
    max-width: 300px;
}

.max-img{
    border-radius: 90%;
}

.max-img:hover{
    background-color: #efefef;
    border-radius: 90%;
}

.btn-boton-buscar {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    /*text-align: center;*/
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.relativa{
    position: relative;
}

.absoluta{
    position: absolute;
    left: 20px;
    top: 18px;
}


.imagen-color{
    width: 250px;
    max-height:600px;
    z-index:-1;
    position:relative;
    border-radius: 20px;
}
/*clase padre*/
.max-width{
    width: 250px;
    /*position: static;*/
    border-radius: 20px;
    color: transparent;
    margin: 16px 50px;
    position: relative;
}

.max-width:hover{
    background-color:rgba(0, 0, 0, 0.60);
    transition: 1s;

}

/*clase hijo*/
.guardar-boton{
    z-index: 6;
    display: none;
    font-size: 16px;
    width: 100px;
    position: absolute;
    left: 140px;
    top: 10px;
    height: 50px;
    border: none;
    text-decoration: none;
    background-color:#e60023;
    color:#efefef;;
    border-radius: 50px;
    /*estilos del boton*/
    
}

.btn-color{
    background-color: #ddd;
    border-radius: 50px;
}
.btn-flecha, .btn-puntos{
    background-color: #ddd;
    border-radius: 100px;
}


.max-width:hover .guardar-boton{
    display: block;
    transition: all 1s;
}
.guardar-boton:hover{
    background-color:#bb2038;
}



.botones-footer{
    position: absolute;
    z-index: 2;
    top: 340px;
    display: none;
}

.max-width:hover .botones-footer{
    display: block;
}




/*prueba*/

.clase-padre{
	position: relative;
    background: #f90;
    width: 330px;
    height: 195px;
    float: left;
    margin-right: 15px;
}

.clase-hija{
	position: absolute;
    z-index: 2;
    top: 33px;
    display: none;
    left: 19px;
    width: 92px;
}
.clase-padre:hover .clase-hija{ 
	display:block;
}
