header{
    display: flex;
    justify-content: flex-start;
}

.imagen{
    height: 30px;
    width: 50px;
}

.nav-inicio{
    background-color: #000;
    border-radius: 36px;
    height: 48px;
    min-width: 70px;
    color: rgb(251, 248, 248);
    border: none;
    font-weight: 900;
}

.input-buscar{
    height: 50px;
    width: 900px;
    border-radius: 36px;
    font-size: 16px;
    border: none;
    background-color: #efefef;
}

.input-buscar:hover{
    background-color: #ddd;
}

.nav-hoy{
    height: 50px;
    border-radius: 30px;
    font-weight: 900;
}

.nav-hoy:hover{
    background-color: #ddd;
}

.campanita{
    position: absolute;
    right: 1;
    top: 1;
    background-color: red;
    padding: 5px;
    color: white;
}

section div.imagen{
    max-height: 600px;
    max-width: 300px;
}

.max-img{
    border-radius: 90%;
}

.max-img:hover{
    background-color: #efefef;
    border-radius: 90%;
}

.btn-boton-buscar {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    /*text-align: center;*/
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.relativa{
    position: relative;
}

.absoluta{
    position: absolute;
    left: 20px;
    top: 18px;
}


.imagen-color{
    width: 250px;
    max-height:600px;
    z-index:-1;
    position:relative;
    border-radius: 20px;
}
.max-width{
    width: 250px;
    position: static;
    border-radius: 20px;
}

.max-width:hover{
    background-color:rgba(0, 0, 0, 0.60);
    transition: 1s;
    
}

.guardar{
    position: relative;
}

.guardar-boton{
    position: absolute;
    left: 150px;
    top: 78px;
    width: 90px;
    height: 50px;
    border: none;
    text-decoration: none;
    background-color: darkred;
}


